
/******************
 * GLOBAL STYLES
******************/
/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

*{
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
  
  /******************
   * navigation bar
  ******************/
  
nav{
    background:#fff!important;
    height:auto!important;
    line-height: auto!important;
    padding-top:1.3em;
}

nav a{
    color:#1b1d34!important;
    line-height: auto;
    padding:1em;
    border-radius: 10px;
    transition:background 300ms ease 0s;
    position: relative;
}

nav a:hover{
    background:#f1f1f1;
}

nav .notification{
    background:#f06292;
    width:7px;
    height:7px;
    display: inline-block;
    border-radius: 50%;
    bottom:22%;
    right:20%;
    position:absolute;
}

/*****************
** product card
*****************/

.product-card{
    text-transform: capitalize;
    position: relative;
    padding-bottom: 1em;
    padding-top:2em
}

.product-card img{
    position: relative;
    max-width:300px;
    transition:all 300ms ease 0s;
}

.item:hover .product-card img{
    transform: scale(1.1);
}


.product-card .image{
    position: absolute;
    width:100%;
    height:100%;
    background:#ffebd1;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) rotate3d(10,10,10,5deg);;
    z-index:-1;
    border-radius: 50px;
    box-shadow:0 0 40px rgb(51 51 51 / 10%);
    transition: all 300ms ease 0s;
}

.item:hover .product-card .image{
    box-shadow:0 0 40px rgb(51 51 51 / 20%);
}

.item h4 , .product-card h3 , .product-card h5{
    font-family: "montserrat alternates"  , "montserrat" , Arial, Helvetica, sans-serif ;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}

.product-card h3{
    font-size:2em;
    margin-bottom:.5em;
    margin-top:0.5em
}

.product-card h5{
    text-transform: lowercase;
    font-size:1em;
    margin-top:0;
    color:rgba(0,0,0,0.5);
}

.heading{
    text-align: center;
    margin-bottom: 1em;
}

.heading h4{
    display: inline-block;
    margin-left:0.1em;
    margin-right:0.1em;
}

.heading .ball{
    position: relative;
    width:5px;
    height: 5px;
    display:inline-block;
    border-radius: 50%;
    margin-left:0.1em;
    margin-right: 0.1em;
    transition:all 300ms ease 0s;
}

.item:hover .heading .ball1{
    transform:translateY(-7px)
}

.heading .ball1{
    background:#ffcb0d;
}

.heading .ball2{
    background:#bc90dc;
    transition-delay: 75ms;
}

.item:hover .heading .ball2{
    transform:translateY(-7px);
}

.heading .ball3{
    background:#ff978f;
    transition-delay: 150ms;
}

.item:hover .heading .ball3{
    transform: translateY(-7px);
}


.product-card .ball{
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    transition:all 300ms ease 0s;
}

.product-card .ball1{
    right:20%;
    top:7%;
    width:12px;
    height: 12px;
    background:#f200fb;
}

.item:hover .product-card .ball1{
    transform: scale(1.1);
    right:15%;
}

.product-card .ball2{
    left:30%;
    top:5%;
    width:15px;
    height: 15px;
    background : #ff002b;
}

.item:hover .product-card .ball2{
    transform: scale(1.1);
    left:25%;
}

.product-card .ball3{
    top:-5%;
    left:50%;
    width:7px;
    height: 7px;
    background:#2abb60;
}

.item:hover .product-card .ball3{
    transform: scale(1.2);
}